@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --main-purple-color: #7B5EC6;
    --main-pink-color: #A11091;
    --main-text-color: #888888;
    --main-hover-color: #BB13A9;
    --main-white-color: #fff;
    --font-inter: 'Inter', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;
    --default-border-radius: 15px 15px;
    --button-border-radius: 10px 10px;
  }

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 50px;
  }

  .second-content-section{
    flex-direction: row-reverse;
  }
  .second-content-section .content-text-box{
    margin-right: 40px;
  }
  
  .content-image {
    width: 600px; 
    height: auto;
    border-radius: var(--default-border-radius);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .content-text-box {
    margin-left: 40px; 
    width: 600px;

    
  }
  
  .content-text-box h3{
    color: var(--main-purple-color);
    font-family: "Inter", Sans-serif;
    font-size: 43px;
    font-weight: 700;
    font-family: var(--font-inter);
    margin: 0;
    margin-bottom: 25px;

  }

  .content-text-box .content-paragraph-text{
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-Montserrat);
  }

  .content-button{
    background-color: var(--main-pink-color);
    border: none;
    color: var(--main-white-color);
    border-radius: var(--button-border-radius);
    height: 35px;
    width: 140px;
    font-size: 13px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--main-pink-color);
    font-family: var(--font-inter);
    font-weight: 700;
  }

.apply-button{
    background-color: var(--main-white-color);
    color: var(--main-pink-color);
    margin-left: 10px;
}
  
  .content-button:hover{
    background-color: var(--main-hover-color);
    border-color: var(--main-hover-color);
    cursor: pointer;
    color: var(--main-white-color);
  } 

  .content-header-text{
    margin-bottom: 25px;
  }
  .content-paragraph-text{
    margin-bottom: 25px;
  }

  @media (max-width: 768px) {

    .second-content-section .content-text-box {
      margin-right: 0px;
    }
    .content-wrapper {
      flex-direction: column;
    }
  
    .image-text-container {
      flex-direction: column;
      padding: 15px;
    }
  
    .content-image {
      width: 95vw;
      max-width: 100vw;
    }
  
    .content-text-box {
      margin-left: 0;
      width: 100%;
      margin-top: 20px;
    }

    .content-header-text{
      padding-bottom: 15px;
    }
    .content-paragraph-text{
      margin-bottom: 25px;
    }
  }

  