footer {
  background-color: #7B5EC6;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer img {
  width: 280px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

footer ul {
  list-style: none;
  color: #b5acdb;
  text-align: center;
}

footer li {
  padding: 7px;
  font-size: 16px;

}

footer hr {
  width: 60%;
  border: 1.5px solid #b5acdb;
  margin-top: 4rem;
}

.footer-aps{
  font-weight: 900;
}
