footer {
  background-color: #7B5EC6;
  min-height: 60vh;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 100;
  width: 100%;
}

footer img {
  width: 280px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

footer ul {
  list-style: none;
  color: #b5acdb;
  text-align: center;
}

footer li {
  padding: 7px;
  font-size: 16px;

}

.footer-mail {
  color: #b5acdb;
  transition: all 0.3s ease-in-out;
}

.footer-mail:hover {
  color: var(--main-pink-color);
}

footer hr {
  width: 60%;
  border: 0.7px solid #b5acdb;
  margin-top: 4rem;
}

.footer-aps{
  font-weight: 900;
}

@media (max-width: 768px) {

  footer hr {
    width: 95%;
  }

}