@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-purple-color: #7B5EC6;
    --main-pink-color: #A11091;
    --main-text-color: #888888;
    --main-hover-color: #BB13A9;
    --main-white-color: #fff;
    --font-inter: 'Inter', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-Alexandria: 'Alexandria', sans-serif;;
    --default-border-radius: 15px 15px;
    --button-border-radius: 10px 10px;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.landing-wrapper {

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 100%;
    min-height: 100vh;
  }
  
  .landing-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  
  .landing-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 50vw;
    background-color: var(--main-purple-color);
    height: 50vh;
  }
  
  .landing-header {
    font-size: 40px;
    margin-bottom: 10px;
    width: 90%;
    text-align: left;
    line-height: 1.2em;
    font-family: var(--font-inter);
    font-weight: 800;
    color: var(--main-white-color);
  }
  
  .landing-paragraph {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
    width: 90%;
    font-family: var(--font-Montserrat);
    color: var(--main-white-color);
    opacity: 0.7;
  }
  
  .landing-button {
    background-color: var(--main-pink-color);
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 13px;
    cursor: pointer;
    font-family: var(--font-inter);
    border-radius: var(--button-border-radius);
    align-self: flex-start;
    margin-left: 20%;

    
  }
  
  @media (max-width: 1024px) {


    .landing-wrapper {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

  }
  
  .landing-button{
    margin-left: 5%;
  }
      
}
  
    .landing-content {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  
    .landing-image {
      height: 50vh;
      object-fit: cover;
    }

    .landing-paragraph{
        padding-top: 15px;
        padding-bottom: 30px;
    }


    
    @media (min-width: 1025px) {
        .landing-wrapper {
          height: auto;

        }
      
        .landing-image {
          height: 60vh;
          object-fit: cover;
        }

        .landing-content{
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .landing-header{
        width: 60%;
        font-size: 48px;
        font-weight: 800;
        line-height: 57px;
        }

        .landing-paragraph{
            width: 60%;
        }
      }
  