@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --main-purple-color: #7B5EC6;
    --main-pink-color: #A11091;
    --main-text-color: #888888;
    --main-hover-color: #BB13A9;
    --main-white-color: #fff;
    --font-inter: 'Inter', sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;
    --default-border-radius: 15px 15px;
    --button-border-radius: 10px 10px;
  }


/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
  
  .modal-content {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    max-height: 100vh;
    overflow: auto;
  }

  
  .modal h2{
    color: var(--main-purple-color );
    font-family: var(--font-Montserrat);
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .modal p{
    color: var(--main-text-color );
    font-family: var(--font-Montserrat);
    font-weight: 400;
    text-align: left;
    width: 90%;
    margin: auto;
    font-size: 15px;
  } 




  /* Input field styles */

  .modal-input-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
/* Input field styles */
.modal-content textarea,
.modal-content input[type="text"],
.modal-content input[type="file"],
.modal-content label {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  outline: none;
  color: #ccc;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
}

input.input-short {
  height: 50px;
  max-height: 120px;

}

textarea.input-long {
  min-height: 120px;
  height: 120px;
  resize: vertical;
  height: 50px;
}

.modal-content textarea:focus,
.modal-content input[type="text"]:focus,
.modal-content input[type="file"]:focus {
  outline: none;
  border: 1px solid #ccc;
}

.modal-content textarea::placeholder,
.modal-content input[type="text"]::placeholder,
.modal-content input[type="file"]::placeholder,
.modal-content label {
  text-align: left;
}

.modal-content input.input-long::placeholder {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 15px;
  color: #ccc;
  transform: translateY(-50%);
}

.modal-content textarea.input-long {
  padding-top: 25px;
  padding-bottom: 5px;
  line-height: 1.2em;
}

.modal-content textarea.input-long::placeholder {
  top: -5px;
}

.modal-content textarea.input-long {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

  
  .close-button {
    position: relative;
    top: 10px;
    left: 95%;
    font-size: 18px;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
  }

  .close-button img{
    width: 20px;
    height: 20px;
  }


  .check-group{
    display: flex;
    flex-direction: column;
    border: none;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .check-group h3{
    font-size: 14px;
    color: var(--main-text-color);
    padding-bottom: 10px;
    font-weight: 400;
  }

  .check-group label{
    border: none;
    font-size: 14px;
    color: var(--main-text-color);
    margin-bottom: 10px;
  }

  .labelTxt{
    margin-left: 2.5px;
  }

  .file-group{
    margin-bottom: 2rem;
    width: 90%;
    margin: auto;

  }

  .file-group h3{
      font-size: 14px;
      color: var(--main-text-color);
      padding-bottom: 5px;
  }

  .modal-content input[type="file"]{
    border: none;
  }

  .consent-group{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }

  .consent-group label{
    border: none;
    padding-right: 5px;
  }

  .consent-text{
    display: inline;
  }

  .modal-button-container{
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .modal-button {
    background-color: var(--main-pink-color);
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 13px;
    cursor: pointer;
    font-family: var(--font-inter);
    border-radius: var(--button-border-radius);
    align-self: flex-start;
    margin-left: 20%;
    font-weight: 700;

  }
