@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: white;
  color: #7B5EC6;
  font-size: 0.9vw;
  min-height: 100px;
  height: 100px;
  width: 100%;

  z-index: 999;
}

.navbar-logo img {
  max-height: 105px;
  min-height: 60px;
  height: 80px;
  width: auto;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.navbar-menu {
  display: flex;
  position: relative;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  font-size: 15px;
}

.navbar-menu ul li {
  margin-left: 30px;
  cursor: pointer;
  padding-top: 10px;
  font-weight: 500;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: var(--main-purple-color);
  transition: all 0.3s ease-in-out;
}

.navbar-menu ul li a:hover {
  color: #a11091;
}


.navbar-menu li:hover:not(.navbar-contact){
color: #a11091;
}

.navbar-contact {
  position: relative;
  background-color: #a11091;
  color: white;
  height: 40px;
  border-radius: 10px 10px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.arrow {
  width: 12%;
  margin-left: 5px;
}

.contact-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  padding: 10px;
  background-color: white;
  font-size: 16px;
  border-radius: 10px 10px;
  min-width: 180px;
  text-align: center;
  font-weight: 600;
}

.contact-dropdown a {
  color: #7B5EC6;
  text-decoration: none;
}

.navbar-contact:hover .contact-dropdown {
  display: block;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle img {
  height: 30px;
  width: auto;
}


@media (max-width: 768px) {

  .navbar-contact {
    width: 50%;
  }

  .navbar-logo img {
    height: 40px;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
  }

  .navbar-toggle {
    display: block;
  }
  
  .hamburger-mobile-list {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: white;
    left: 0;
    transform: translateY(10%);
    padding: 25px 0;
  }

  .hamburger-mobile-list.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: hamburgerFade 0.5s ease-in-out;
  }

  @keyframes hamburgerFade {
    from {
      opacity: 0;
      transform: translateY(-15%);
    }
    to {
      opacity: 1;
    }
  }

  .hamburger-mobile-list img {
    width: 15px;
  }

  .hamburger-mobile-list li {
    list-style: none;
    font-size: 20px;
    margin: 15px 0;
  }

  .hamburger-mobile-list a {
    text-decoration: none;
  }

  .navbar-menu.open ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu.open li {
    margin: 10px 0;
  }


}
