@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
    * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    html {
      font-family: "Montserrat", sans-serif; 
    }
    
    body {
        overflow-x: hidden;
      }

      .lessonsWrapper {
        width: 100%;

        button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 10px;
            font-size: 13px;
            border-radius: 10px;
            height: 36px;
            font-weight: bold;
            cursor: pointer;
            -webkit-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            margin: 0 10px;
          }

          .btn-container {
            display: flex;
          }
    
          
      }